<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

<appSettings>

  <!--上传的默认路径-->
  <!--add key="strBaseDir" value="C:\\"/-->
  <add key="ServerIP" value="192.168.0.103"/>
  <!--文件内容字节流-->
  <add key="port1" value="2005"/>
  <!--文件在服务器的保存路径-->
  <add key="port2" value="2006"/>
  <!--一些标识，是否续传,xc、bxc-->
  <add key="port3" value="2007"/>
  <add key="IsXuChuan" value="false"/>
  <add key="IsFuGai" value="true"/>
  <add key="SIZEBUFFER" value="5242880"/>
  <add key="portFileSavePath" value="2010"/>
 <!--下载属性值设置-->

  <add key="downFileServerPort" value="2008"/>


  <add key="portCopyOldVerFile" value="2011"/>
  <add key="portCopyNewFileName" value="2012"/>
  
</appSettings>
</configuration>
